*{
    margin:0;
    padding:0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: blueviolet;
}
.container{
    width: 20%;
    background: white;
    border-radius: 8px;
    padding: 40px;
    
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    outline: none;
    border-radius: 0.75rem;
    padding: 10px;
}
form input{
    border: 1px solid lightgray;
    padding-left:0.5rem ;
    height:3rem;
    font-size: 1rem;
}
.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.msg{
    margin-top: 2rem;
}
form button{
    margin-top: 2rem;
    padding: 10px;
    background-color: brown;
    cursor: pointer;
}

